<html ng-app='app'>
<head>
  <link rel="stylesheet" href="styles/fonts.css" >
  <link rel="stylesheet" href="styles/material.red-blue.min.css" />
  <link rel='stylesheet' href='styles/popup.css'>

  <script src='scripts/jquery.js'></script>
  <script src='scripts/angular.min.js'></script>
  <script src='scripts/enums.js'></script>
  <script src='scripts/popup.js'></script>
  <script src='scripts/controllers.js'></script>
  <script src='scripts/directives.js'></script>
</head>
<body ng-controller='PopupController' ng-mouseup='status.slider_dragging = false' ng-keyup='handle_key($event)'>

  <div id='popup' class='mdl-layout mdl-layout--fixed-header'>
    <header class='mdl-layout__header'>
      <div class="mdl-layout__drawer-button" ng-click="menu_icon_click()" ng-if='music_status.protocol == "gmusic"'><i class="material-icons">{{menu_icon()}}</i></div>
      <div id='song-info' class='mdl-layout-title' ng-style='{"padding-left": music_status.protocol == "gmusic" ? 60 : 20}'>
        <div id='title' ng-style='{"text-transform": status.displayed_content == "" || status.displayed_content == "current_playlist" ? "none" : "capitalize", width: music_status.protocol == "gmusic" ? 240 : 280}'>{{status.displayed_content == "" || status.displayed_content == "current_playlist" ? music_status.title : data.title}}</div>
        <div id='subtitle' ng-switch='status.displayed_content == "" || status.displayed_content == "current_playlist"' ng-style='{width: music_status.protocol == "gmusic" ? 240 : 280}'>
          <div ng-switch-when='true' ng-hide='music_status.state != StateEnum.PLAYING'><a href='#' ng-click='data_click("artist", {id: music_status.artist_id})'>{{music_status.artist}}</a> <span ng-hide='music_status.album.length == 0'>-</span> <a href='#' ng-click='data_click("album", {id: music_status.album_id})'>{{music_status.album}}</a></div>
          <div ng-switch-when='false'>{{data.subtitle}}</div>
        </div>
      </div>
    </header>
    <div class="mdl-layout__drawer" ng-class='{"is-visible": status.drawer_open}'>
      <span class="mdl-layout-title" ng-click=''>MiniPlay</span>
      <nav class="mdl-navigation">
        <div class='search-container'>
          <i class="material-icons">search</i>
          <form class='search' ng-submit='search()'>
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" autocomplete="off" ng-model='data.query' type="text" id="search" focus-me='status.drawer_open' tabindex="-1" >
              <label class="mdl-textfield__label" for="search">Search in library...</label>
            </div>
          </form>
        </div>
        <a class="mdl-navigation__link" href="" ng-click='drawer_click("recent")'><i class='material-icons'>replay</i>Recent</a>
        <a class="mdl-navigation__link" href="" ng-click='drawer_click("playlists")'><i class='material-icons'>playlist_play</i>Playlists</a>
        <a class="mdl-navigation__link" href="" ng-click='drawer_click("stations")'><i class='material-icons'>radio</i>Stations</a>
        <a class="mdl-navigation__link" href="" ng-click='drawer_click("artists")'><i class='material-icons'>person</i>Artists</a>
        <a class="mdl-navigation__link" href="" ng-click='drawer_click("albums")'><i class='material-icons'>album</i>Albums</a>
        <a class="mdl-navigation__link" href="" ng-click='settings_click($event)'><i class='material-icons'>settings</i>Settings</a>
      </nav>
    </div>
    <div class='album-art' ng-style='{"background-image":album_art_background(), "display": should_show_art() ? "block" : "none"}' ng-click='album_art_click()'>
      <div id='art-controls'>
        <i mp-control id='repeat' class='material-icons' ng-class='{"art-control-active": music_status.repeat != RepeatEnum.NONE}' ng-disabled='music_status.state != StateEnum.PLAYING || music_status.disabled.repeat' title='Repeat songs'>{{repeat_icon()}}</i>
        <i mp-control id='shuffle' class='material-icons' ng-class='{"art-control-active": music_status.shuffle == true}' ng-disabled='music_status.state != StateEnum.PLAYING || music_status.disabled.shuffle' title='Shuffle songs' ng-click='music_status.shuffle=!music_status.shuffle'>shuffle</i>
      </div>
    </div>
    <div id='list-content' ng-switch='status.displayed_content' infinite-scroll='scroll_data(status.displayed_content)' infinite-scroll-disabled='should_disable_scroll()' infinite-scroll-distance='5'>
      <div ng-switch-when='playlist'>
        <div id='playlist' ng-include src='"templates/playlist.html"'></div>
      </div>
      <div ng-switch-when='current_playlist'>
        <div id='current_playlist' ng-include src='"templates/current_playlist.html"'></div>
      </div>
      <div ng-switch-when='playlists'>
        <div id='playlists' ng-include src='"templates/playlists.html"'></div>
      </div>
      <div ng-switch-when='loading'>
        <div id='loading' ng-include src='"templates/loading.html"'></div>
      </div>
      <div ng-switch-when='recent'>
        <div id='recents' ng-include src='"templates/recents.html"'></div>
      </div>
      <div ng-switch-when='stations'>
        <div id='stations' ng-include src='"templates/stations.html"'></div>
      </div>
      <div ng-switch-when='artists'>
        <div id='artists' ng-include src='"templates/artists.html"'></div>
      </div>
      <div ng-switch-when='artist'>
        <div id='artist' ng-include src='"templates/artist.html"'></div>
      </div>
      <div ng-switch-when='albums'>
        <div id='albums' ng-include src='"templates/albums.html"'></div>
      </div>
      <div ng-switch-when='search'>
        <div id='search' ng-include src='"templates/search.html"'></div>
      </div>
      <div id='list-none' ng-switch-default></div>
    </div>

    <div id='controls'>
      <p id='slider-wrapper'>
        <input class='mp-slider mdl-slider mdl-js-slider' type='range' min='0' max='{{music_status.total_time_s}}' value='{{music_status.current_time_s}}' ng-mousedown='status.slider_dragging = true' tabindex="-1" />
      </p>
      <div id='current-time' ng-disabled='music_status.state != StateEnum.PLAYING'>{{music_status.current_time}}</div>
      <div id='total-time' ng-disabled='music_status.state != StateEnum.PLAYING'>{{music_status.total_time}}</div>
      <div id='controls-left' ng-include src='"templates/controls-left.html"'></div>
      <div id='controls-right' ng-include src='"templates/controls-right.html"'></div>

    </div>

    <div class='mdl-layout__obfuscator' ng-click='status.drawer_open = false' ng-class='{"is-visible": status.drawer_open}'></div>
  </div>

  <script src="scripts/material.min.js"></script>
</body>
</html>
