<button mp-control id='up' class='mdl-button mdl-js-button mdl-button--icon thumb' ng-class='{"mdl-button--colored": musicStatus.thumb == ThumbEnum.UP}' ng-disabled='musicStatus.state != StateEnum.PLAYING || musicStatus.disabled.up' title='Thumbs up' ng-hide='status.vol_pressed' ng-click='musicStatus.thumb = musicStatus.thumb == ThumbEnum.UP ? ThumbEnum.NONE : ThumbEnum.UP'>
  <i class="material-icons">thumb_up</i>
</button>
<button mp-control id='down' class='mdl-button mdl-js-button mdl-button--icon thumb' ng-class='{"mdl-button--colored": musicStatus.thumb == ThumbEnum.DOWN}' ng-disabled='musicStatus.state != StateEnum.PLAYING || musicStatus.disabled.down' title='Thumbs down' ng-hide='status.vol_pressed' ng-click='musicStatus.thumb = musicStatus.thumb == ThumbEnum.DOWN ? ThumbEnum.NONE : ThumbEnum.DOWN'>
  <i class="material-icons">thumb_down</i>
</button>
<button id='vol' class='mdl-button mdl-js-button mdl-button--icon' ng-disabled='musicStatus.state != StateEnum.PLAYING || musicStatus.disabled.vslider' title='Volume' ng-click='status.vol_pressed=!status.vol_pressed'>
  <i class='material-icons'>{{volume_icon()}}</i>
</button>
<p id='vol-wrapper' ng-show='status.vol_pressed'>
  <input class='mp-volslider mdl-slider mdl-js-slider' type='range' min='0' max='100' value='{{musicStatus.volume}}' />
</p>
<button id='vol-up' class='mdl-button mdl-js-button mdl-button--icon' ng-disabled='musicStatus.state != StateEnum.PLAYING || musicStatus.disabled.vol' title='Volume' ng-click='status.vol_pressed=!status.vol_pressed' ng-show='status.vol_pressed' >
  <i class='material-icons'>volume_up</i>
</button>
<button mp-control id='playlist-button' class='mdl-button mdl-js-button mdl-button--icon' ng-disabled='musicStatus.state != StateEnum.PLAYING || musicStatus.disabled.playlist' title='Playlist' ng-click='playlist_button_pressed()' ng-hide='status.vol_pressed' '>
  <i class='material-icons'>queue_music</i>
</button>
