<button mp-control id='up' class='mdl-button mdl-js-button mdl-button--icon thumb' ng-class='{"mdl-button--colored": np.status.thumb == ThumbEnum.UP}' ng-disabled='np.state != StateEnum.PLAYING || np.status.disabled.up' title='Thumbs up' ng-hide='InputManager.get("vol_pressed")' ng-click='np.status.thumb = np.status.thumb == ThumbEnum.UP ? ThumbEnum.NONE : ThumbEnum.UP'>
  <i class="material-icons">thumb_up</i>
</button>
<button mp-control id='down' class='mdl-button mdl-js-button mdl-button--icon thumb' ng-class='{"mdl-button--colored": np.status.thumb == ThumbEnum.DOWN}' ng-disabled='np.state != StateEnum.PLAYING || np.status.disabled.down' title='Thumbs down' ng-hide='InputManager.get("vol_pressed")' ng-click='np.status.thumb = np.status.thumb == ThumbEnum.DOWN ? ThumbEnum.NONE : ThumbEnum.DOWN'>
  <i class="material-icons">thumb_down</i>
</button>
<button id='vol' class='mdl-button mdl-js-button mdl-button--icon' ng-disabled='np.state != StateEnum.PLAYING || np.status.disabled.vslider' title='Volume' ng-click='vol_pressed()'>
  <i class='material-icons'>{{volume_icon()}}</i>
</button>
<p id='vol-wrapper' ng-show='InputManager.get("vol_pressed")'>
  <input class='mp-volslider mdl-slider mdl-js-slider' type='range' min='0' max='100' value='{{np.status.volume}}' />
</p>
<button id='vol-up' class='mdl-button mdl-js-button mdl-button--icon' ng-disabled='np.state != StateEnum.PLAYING || np.status.disabled.vol' title='Volume' ng-click='vol_pressed()' ng-show='InputManager.get("vol_pressed")' >
  <i class='material-icons'>volume_up</i>
</button>
<button mp-control id='playlist-button' class='mdl-button mdl-js-button mdl-button--icon' ng-disabled='np.state != StateEnum.PLAYING || np.status.disabled.playlist' title='Playlist' ng-click='playlist_button_pressed()' ng-hide='InputManager.get("vol_pressed")' '>
  <i class='material-icons'>queue_music</i>
</button>
