<footer id='controls' ng-controller='FooterController'>
  <p id='slider-wrapper'>
    <input class='mp-slider mdl-slider mdl-js-slider' type='range' min='0' max='{{np.status.total_time_s}}' value='{{np.status.current_time_s}}' ng-mousedown='InputManager.set("sliderDragging", true)' tabindex="-1" />
  </p>
  <div id='current-time' ng-show='np.state == StateEnum.PLAYING'>{{np.status.current_time}}</div>
  <div id='total-time' ng-show='np.state == StateEnum.PLAYING'>{{np.status.total_time}}</div>
  <div id='controls-left' ng-include src='"templates/controls-left.html"'></div>
  <div id='controls-right' ng-include src='"templates/controls-right.html"'></div>
</footer>