<div class='options'>
  <div class='settings-group'>
    <label class="mdl-switch mdl-js-switch" for="switch_notifications">
      <input type="checkbox" id="switch_notifications" class="mdl-switch__input" mdl-switch="notifications-enabled">
      <span class="mdl-switch__label">Notifications</span>
    </label>
  </div>
  <div class='settings-group'>
    <label class="mdl-switch mdl-js-switch" for="switch_shortcuts">
      <input type="checkbox" id="switch_shortcuts" class="mdl-switch__input" mdl-switch="shortcuts-enabled">
      <span class="mdl-switch__label">Shortcuts</span>
    </label>
    <a href='#' ng-click='launch_settings()'>Modify keybindings</a>
  </div>
  <div class='settings-group'>
    <label class="mdl-switch mdl-js-switch" for="switch_lastfm">
      <input type="checkbox" id="switch_lastfm" class="mdl-switch__input" mdl-switch="scrobbling-enabled">
      <span class="mdl-switch__label">Last.fm scrobbling</span>
    </label>
    <p id='login' ng-show='SettingsManager.get("scrobbling-enabled")'>
      <a href='#' ng-click='lastfm_auth()'>Authorize Last.fm account</a>
      <p id='auth' ng-show='SettingsManager.get("lastfm_sessionID")'>
        You appear to be logged in. If you are having problems scrobbling, reauthorizing may fix the issue.
      </p>
    </p>
  </div>
</div>
