<div class='options'>
  <section>
    <h3>
      Notifications
    </h3>
    <div class='checkbox'>
      <label>
        <input type='checkbox' id='enable-notifications'>
        <span>Enable notifications</span>
      </label>
    </div>
  </section>
  <section>
    <h3>
      Shortcuts
    </h3>
    <p>
      Modify individual shortcuts by clicking on Keyboard Shortcuts in <a href='#' id='extension'>chrome://extensions</a>.
    </p>
    <div class='checkbox'>
      <label>
        <input type='checkbox' id='enable-shortcuts'>
        <span>Enable shortcuts</span>
      </label>
    </div>
  </section>
  <section>
    <h3>
      Last.fm
    </h3>
    <div class='checkbox'>
      <label>
        <input type='checkbox' id='enable-scrobbling'>
        <span>Enable Last.fm scrobbling</span>
      </label>
    </div>
    <p id='login'>
      <a href='#'>Authorize Last.fm account</a>
      <p id='auth'>
        You appear to be logged in. If you are having problems scrobbling, reauthorizing may fix the issue.
      </p>
    </p>
  </section>
</div>
