<table id='options-table' class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Setting</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Notifications</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Shortcuts <br>
        <span>Modify individual shortcuts by clicking on <br> Keyboard Shortcuts in <a href='#' id='extension'>chrome://extensions</a>.</span></td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Last.fm scrobbling <br>
      <p id='login'>
        <a href='#'>Authorize Last.fm account</a>
        <p id='auth'>
          You appear to be logged in. If you are having problems scrobbling, reauthorizing may fix the issue.
        </p>
      </p></td>
    </tr>
  </tbody>
</table>
