<md-content infinite-scroll='scrollData()' infinite-scroll-distance='5' infinite-scroll-disabled='isScrollingDisabled()'>
  <md-list>
    <md-list-item ng-repeat='item in tab.data' ng-class='getLIClass(item)' class='md-no-style' ng-click='pc.dataClick("artist", item)'>
      <img ng-src='{{item.image}}' class='md-avatar' ng-attr-alt='{{item.heading}}' ng-class='{ "md-avatar-square": item.square }' />
      <div class='md-list-item-text'>
        <h3 ng-if='true || item.heading' >{{ item.heading }}</h3>
        <h4 ng-if='item.subheading'>{{ item.subheading }}</h4>
        <p ng-if='item.text'>{{ item.text }}</p>
      </div>
    </md-list-item>
  </md-list>
  <md-progress-circular md-mode='indeterminate' class='end-loading' md-diameter='20' ng-show='showLoader()'></md-progress-circular>
</md-content>