#popup {
  font-family: 'Roboto', arial, sans-serif;
  padding: 11px 30px 22px 10px;
  width: 450px;
  height: 210px;
  background-color: #e5e5e5;
  position: absolute;
  cursor: default;
  -webkit-user-select: none;
}

#artist a {
  outline: none;
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 450px;
  min-height: 210px;
}

#card {
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
  background: white;
  height: 128px;
  width: 430px;
}

#album-art {
  float: left;
  border-radius: 2px 0 0 2px;
}

#album-art-img {
  border-radius: 2px 0 0 2px;
  -webkit-user-drag: none;
}

#card-right {
  position: absolute;
  left: 140px;
  width: 268px;
  padding: 10px 2px 15px 15px;
  white-space: nowrap;
  overflow: hidden;
}

.fade {
  position: absolute;
  width: 30px;
  right: 0;
  background-image: -webkit-linear-gradient(left,rgba(255,255,255,0) 0%,#fff 30px, #fff 100%);
}

#title-fade {
  height: 20pt;
}

#info-fade {
  top: 45px;
  height: 50px;
}

#infobar {
  list-style-type: none;
  padding: 0;
  width: 268px;
  position: fixed;
  bottom: 42px;
}

#controls {
  position: absolute;
  bottom: 33px;
  left: 0px;
  background-color: #fafafa;
  width: 450px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

#title {
  color: #333;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
}

#equalizer {
  background: no-repeat url(../img/eq-paused.png);
  background-size: 40 40;
  width: 48px;
  height: 48px;
  opacity: 0.8;
  margin: -10 -25 0 -10;
  float: left;
}

.equalizer-checked {
  background: no-repeat url(../img/eq-play.gif)!important;
  background-size: 40 40!important;
}

#lastfm-toggle {
  background: no-repeat url(../img/lastfm.png);
  background-size: 40 40;
  width: 48px;
  height: 48px;
  opacity: 0.8;
  float: left;
  margin-top: -8px;
}

.lastfm-checked {
  opacity: 0.5!important;
}

#artist, #album {
  font-size: 14px;
  font-weight: 300;
  color: #aaa;
  overflow: hidden;
}

.control {
  outline: none;
  border: none;
  opacity: 0.8;
  margin-top: 3px;
  transition: background-color 0.218s;
  background: no-repeat url(../img/sprites.png);
  background-size: 766px 53px;
}

.control:hover {
  background-color: #e8e8e8!important;
  opacity: 1;
}

.control:active {
  background-color: #d5d5d5!important;
  opacity: 1;
}

#setting {
  background: no-repeat url(../img/sprites.png) -742px 0px;
  background-size: 766px 53px;
  outline: none;
  border: none;
  width: 24px;
  height: 53px;
  transition: background-color 0.218s;
}

.control[disabled] {
  opacity: 0.2 !important;
  background-color: transparent !important;
}

#up.control[disabled] {
  display: none;
  background-color: transparent !important;
}

#down.control[disabled] {
  display: none;
  background-color: transparent !important;
}

.large {
  width: 62px;
  height: 53px;
}

.medium {
  width: 53px;
  height: 53px;
}

.opaque {
  opacity: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

#repeat.control {
  background-position: 0 0;
}

#repeat.control-list {
  background-position: -53px 0;
}

#repeat.control-single {
  background-position: -106px 0;
}

#shuffle.control {
  background-position: -159px 0;
}

#shuffle.control-checked {
  background-position: -212px 0;
}

#rew.control {
  background-position: -265px 0;
}

#play.control {
  background-position: -327px 0;
}

#play.control-checked {
  background-position: -389px 0;
}

#ff.control {
  background-position: -451px 0;
}

#down.control {
  background-position: -513px 0;
}

#down.control-checked {
  background-position: -566px 0;
}

#up.control {
  background-position: -619px 0;
}

#up.control-checked {
  background-position: -672px 0;
}

#time {
  font-size: 0.75em;
  line-height: 20px;
  color: #7f7f7f;
  text-align: right;
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

#played-slider {
  background-color: #fd8500;
  width: 0px;
  height: 3px;
}

#slider {
  outline: none;
  height: 3px;
  position: absolute;
  z-index: 1000;
  padding: 7px 0 7px 0;
  margin-top: -7px;
  cursor: pointer;
}

#slider[disabled] {
  cursor: default;
}

#slider-background {
  background-color: #eaeaea;
  height: 3px;
  width: 450px;
}

#slider-thumb {
  width: 12px;
  height: 12px;
  margin-top: -7px;
  position: relative;

  background: no-repeat url(../img/sprites.png) -725px 0;
  background-size: 766px 53px;
}

#slider-thumb[disabled] {
  display: none;
}

#time-and-slider {
  position:absolute;
  right: 0px;
  left: 0px;
  bottom: 67px;
  z-index: 1000;
}
