#popup {
  font-family: 'Roboto', arial, sans-serif;
  padding: 11px 30px 22px 10px;
  width: 450px;
  height: 210px;
  background-color: #e5e5e5;
  position: absolute;
  cursor: default;
  -webkit-user-select: none;
}

body {
  margin: 0;
  padding: 0;
  min-width: 450px;
  min-height: 210px;
  border-radius: 20px;
  font-family: 'Roboto', arial, sans-serif;
  overflow: hidden;
}

#card {
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
  background: white;
  font-weight: 300;
  height: 128px;
  width: 430px;
}

.big-art {
  float: left;
  margin-right: 20px;
  border-radius: 2px 0 0 2px;
}

#album-art-img {
  border-radius: 2px 0 0 2px;
  -webkit-user-drag: none;
}

#song-info {
  position: absolute;
  left: 140px;
  width: 255px;
  padding: 10px 15px 15px 15px;
  white-space: nowrap;
  overflow: hidden;
}

#title-fade {
  left: 210px;
  height: 20pt;
  width: 100px;
  position: absolute;

  background-image: -webkit-linear-gradient(left,rgba(255,255,255,0) 0%,#fff 30px, #fff 100%);
}

#info-fade {
  top: 50px;
  left: 240px;
  height: 50px;
  width: 30px;
  position: absolute;

  background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
  background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1));
}

#controls {
  position: absolute;
  bottom: 33px;
  left: 0px;
  background-color: #fafafa;
  width: 450px;
  height: 56px;
  outline: none;
  z-index: 1;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

#title {
  color: #333;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
}

.equalizer {
  background: no-repeat url(../img/eq-paused.png);
  width: 48px;
  height: 48px;
  opacity: 0.8;
  float: right;
  margin-top: -45px;
  margin-right: -19px;
}

.equalizer-checked {
  background: no-repeat url(../img/eq-play.gif);
}

#artist, #album {
  font-size: 14px;
  font-weight: 300;
  color: #aaa;
  overflow: hidden;
}

.control {
  outline: none;
  border: none;
  opacity: 0.8;
  margin-top: 3px;
  transition: background-color 0.218s;
  background: no-repeat url(../img/sprites.png);
  background-size: 737px 53px;
}

.control:hover {
  background-color: #e8e8e8!important;
  opacity: 1;
}

.control:active {
  background-color: #d5d5d5!important;
  opacity: 1;
}

.control[disabled] {
  opacity: 0.2 !important;
  background-color: transparent !important;
}

#up.control[disabled] {
  opacity: 0 !important;
  background-color: transparent !important;
}

#down.control[disabled] {
  opacity: 0 !important;
  background-color: transparent !important;
}

.large {
  width: 62px;
  height: 53px;
}

.medium {
  width: 53px;
  height: 53px;
}

.opaque {
  opacity: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

#repeat.control {
  background-position: 0px 0px;
}

#repeat.control-list {
  background-position: -53px 0px;
}

#repeat.control-single {
  background-position: -106px 0px;
}

#shuffle.control {
  background-position: -159px 0px;
}

#shuffle.control-checked {
  background-position: -212px 0;
}

#rew.control {
  background-position: -265px 0px;
}

#play.control {
  background-position: -327px 0px; 
}

#play.control-checked {
  background-position: -389px 0px; 
}

#ff.control {
  background-position: -451px 0px; 
}

#down.control {
  background-position: -513px 0px; 
}

#down.control-checked {
  background-position: -566px 0px; 
}

#up.control {
  background-position: -619px 0px; 
}

#up.control-checked {
  background-position: -672px 0px; 
}

#time {
  font-size: 0.75em;
  line-height: 20px;
  color: #7f7f7f;
  text-align: right;
  margin-right: 60px;
  position: relative;
  top: 8px;
}

#played-slider {
  background-color: #fd8500;
  width: 0;
  height: 3px;
}

#slider {
  outline: none;
  height: 3px;
  padding: 5px 0;
  margin-top: 25px;
}

#slider-background {
  background-color: #eaeaea;
  height: 3px;
}

#slider-thumb {
  width: 12px;
  height: 12px;
  margin-top: -7px;
  position: relative;

  background: no-repeat url(../img/sprites.png) -725px 0;
  background-size: 737px 53px;
}

#time-and-slider {
  position:absolute;
  right: 0px;
  left: 0px;
  bottom: 81px;
  z-index: 1000;
}